[package]
name = "scx_utils"
version = "1.0.18"
edition = "2021"
authors = ["Tejun Heo <tj@kernel.org>"]
license = "GPL-2.0-only"
repository = "https://github.com/sched-ext/scx"
description = "Utilities for sched_ext schedulers"

[dependencies]
anyhow = "1.0.65"
bitvec = { version = "1.0", features = ["serde"] }
bindgen = ">=0.69"
glob = "0.3.2"
hex = "0.4.3"
lazy_static = "1.5.0"
libbpf-sys = "=1.6.1"
libbpf-cargo = "=0.26.0-beta.1"
libbpf-rs = "=0.26.0-beta.1"
log = "0.4.17"
nvml-wrapper = { version = "0.11.0", optional = true }
nvml-wrapper-sys = { version = "0.9.0", optional = true }
paste = "1.0"
regex = "1.11.1"
scx_stats = { path = "../scx_stats", version = "1.0.14" }
serde = { version = "1.0.215", features = ["derive"] }
sscanf = "0.4"
tar = "0.4"
walkdir = "2.5"
version-compare = "0.1"
libc = "0.2.137"
zbus = { version = "5.3.1", optional = true }
const_format = "0.2.34"
num = "0.4.3"
tracing = "0.1"
tracing-subscriber = "0.3"

[dev-dependencies]
tempfile = "3.19.1"

[build-dependencies]
anyhow = "1.0.65"
bindgen = ">=0.69"
glob = "0.3.2"
lazy_static = "1.5.0"
libbpf-cargo = "=0.26.0-beta.1"
sscanf = "0.4"
tar = "0.4"
vergen = { version = "8.0.0", features = ["cargo", "git", "gitcl"] }
version-compare = "0.1"
walkdir = "2.5"

[features]
default = []
gpu-topology = ["dep:nvml-wrapper", "dep:nvml-wrapper-sys"]
autopower = ["dep:zbus"]

[[example]]
name = "mangolog"
crate-type = ["bin"]

[lints.clippy]
not_unsafe_ptr_arg_deref = "allow"

