[package]
name = "scx_utils"
version = "1.0.26"
edition = "2021"
authors = ["Tejun Heo <tj@kernel.org>"]
license = "GPL-2.0-only"
repository = "https://github.com/sched-ext/scx"
description = "Utilities for sched_ext schedulers"

[dependencies]
anyhow = "1.0.65"
bitvec = { version = "1.0", features = ["serde"] }
bindgen = ">=0.69"
clap = { version = "4.5.28", features = ["derive", "env", "unicode", "wrap_help"] }
glob = "0.3.2"
hex = "0.4.3"
lazy_static = "1.5.0"
libbpf-cargo = "=0.26.0-beta.1"
libbpf-rs = "=0.26.0-beta.1"
log = "0.4.17"
nvml-wrapper = { version = "0.11.0", optional = true }
nvml-wrapper-sys = { version = "0.9.0", optional = true }
paste = "1.0"
regex = "1.11.2"
ruzstd = "0.8.1"
scx_stats = { path = "../scx_stats", version = "1.0.22" }
serde = { version = "1.0.215", features = ["derive"] }
sscanf = "0.4"
tar = "0.4"
walkdir = "2.5"
version-compare = "0.1"
zbus = { version = "5.3.1", optional = true }
num = "0.4.3"
tempfile = "3.19.1"
tracing = "0.1"
tracing-subscriber = "0.3.20"
libc = "0.2.175"
nix = { version = "0.30.1", features = ["resource"] }

scx_cargo = { path = "../scx_cargo", version = "1.0.27", optional = true }

[build-dependencies]
anyhow = "1.0.65"
bindgen = ">=0.69"
glob = "0.3.2"
lazy_static = "1.5.0"
libbpf-cargo = "=0.26.0-beta.1"
ruzstd = "0.8.1"
scx_cargo = { path = "../scx_cargo", version = "1.0.27" }
sscanf = "0.4"
tar = "0.4"
tempfile = "3.19.1"
vergen = { version = "8.0.0", features = ["cargo", "git", "gitcl"] }
version-compare = "0.1"
walkdir = "2.5"

[features]
default = []
gpu-topology = ["dep:nvml-wrapper", "dep:nvml-wrapper-sys"]
autopower = ["dep:zbus"]
deprecated-build-support = ["dep:scx_cargo"]

[[example]]
name = "mangolog"
crate-type = ["bin"]

[lints.clippy]
not_unsafe_ptr_arg_deref = "allow"
