[package]
name = "scx_rusty"
version = "1.0.19"
authors = ["Dan Schatzberg <dschatzberg@meta.com>", "Meta"]
edition = "2021"
description = "A multi-domain, BPF / user space hybrid scheduler used within sched_ext, which is a Linux kernel feature which enables implementing kernel thread schedulers in BPF and dynamically loading them. https://github.com/sched-ext/scx/tree/main"
license = "GPL-2.0-only"

[dependencies]
anyhow = "1.0.100"
chrono = "0.4"
clap = { version = "4.5.53", features = ["derive", "env", "unicode", "wrap_help"] }
crossbeam = "0.8.4"
ctrlc = { version = "3.5", features = ["termination"] }
fb_procfs = "0.7"
libbpf-rs = "=0.26.0-beta.1"
libc = "0.2.178"
log = "0.4.29"
ordered-float = "3.9.2"
scx_stats = { path = "../../../rust/scx_stats", version = "1.0.20" }
scx_stats_derive = { path = "../../../rust/scx_stats/scx_stats_derive", version = "1.0.20" }
scx_utils = { path = "../../../rust/scx_utils", version = "1.0.25" }
serde = { version = "1.0.228", features = ["derive"] }
simplelog = "0.12"
sorted-vec = "0.8.10"
static_assertions = "1.1.0"

[build-dependencies]
scx_cargo = { path = "../../../rust/scx_cargo", version = "1.0.25" }

[features]
enable_backtrace = []

[lints.clippy]
non_canonical_partial_ord_impl = "allow"
