[Unit]
Description=Start scx_qmap
ConditionPathExists=/sys/kernel/debug/sched/ext

[Service]
Type=simple
ExecStart=scx_qmap
Restart=always
StandardOutput=null

[Install]
WantedBy=multi-user.target
