[Unit]
Description=Start scx_pair
ConditionPathExists=/sys/kernel/debug/sched/ext

[Service]
Type=simple
ExecStart=scx_pair
Restart=always
StandardError=journal
LogNamespace=sched-ext

[Install]
WantedBy=multi-user.target
