[Unit]
Description=Start scx_rustland
ConditionPathIsDirectory=/sys/kernel/sched_ext

[Service]
Type=simple
ExecStart=scx_rustland
Restart=always
StandardError=journal
LogNamespace=sched-ext

[Install]
WantedBy=multi-user.target
