[Unit]
Description=Start scx_simple
ConditionPathIsDirectory=/sys/kernel/sched_ext

[Service]
Type=simple
ExecStart=scx_simple
Restart=always
StandardError=journal
LogNamespace=sched-ext

[Install]
WantedBy=multi-user.target
