[Unit]
Description=Start scx_flatcg
ConditionPathExists=/sys/kernel/debug/sched/ext

[Service]
Type=simple
ExecStart=scx_flatcg
Restart=always
StandardOutput=journal
StandardError=journal
LogNamespace=sched-ext

[Install]
WantedBy=multi-user.target
