[Unit]
Description=Start scx_userland
ConditionPathExists=/sys/kernel/debug/sched/ext

[Service]
Type=simple
ExecStart=scx_userland
Restart=always
StandardError=journal
LogNamespace=sched-ext

[Install]
WantedBy=multi-user.target
