[Unit]
Description=Start scx_userland
ConditionPathIsDirectory=/sys/kernel/sched_ext
Conflicts=scx_central.service  scx_flatcg.service  scx_nest.service  scx_pair.service  scx_qmap.service  scx_rustland.service  scx_rusty.service  scx_simple.service

[Service]
Type=simple
ExecStart=scx_userland
Restart=always
StandardError=journal
LogNamespace=sched-ext

[Install]
WantedBy=multi-user.target
