[Unit]
Description=Start scx_central
ConditionPathExists=/sys/kernel/debug/sched/ext

[Service]
Type=simple
ExecStart=scx_central
Restart=always
StandardOutput=journal
StandardError=journal
LogNamespace=sched-ext

[Install]
WantedBy=multi-user.target
