Source: scx
Section: misc
Priority: optional
Maintainer: Andrea Righi <andrea.righi@canonical.com>
Standards-Version: 4.5.1
Build-Depends: debhelper (>= 11), fakeroot,
 linux-libc-dev, linux-tools-common, linux-tools-generic, bpftool,
 libbpf-dev (>= 1.4.0), binutils-dev, libelf-dev, libcap-dev, zlib1g-dev,
 libseccomp-dev, pkg-config, cmake, pkgconf, cargo, rustc, clang,
 llvm, llvm-dev, jq, protobuf-compiler
Homepage: https://github.com/sched-ext/scx
Vcs-Git:  https://github.com/sched-ext/scx

Package: scx
Architecture: amd64 arm64 armhf ppc64el s390x
Depends:
 ${shlibs:Depends},
Description: sched_ext schedulers and tools
 sched_ext is a Linux kernel feature which enables implementing kernel thread
 schedulers in BPF and dynamically loading them. This package contains various
 scheduler implementations and support utilities.
